{%  extends 'base.html.twig' %}

{% block title %}
    Submission app.
{% endblock %}

{% block body %}
<div class="ml-3 mr-4">
    <!--author: Robin St-Georges date: 2020-08-06
    Simple demo project realized with the goal to show understanding of PHP, Javascript & co.
    Basic template used to create the page about of the application-->
    <p>This application was created by Robin St-Georges as a demo to show during interviews</p>

    <p>The technologies presently used are symfony 5, php, javascript, bootstrap, mysql, some specific libraries for simplification and database management and etc.</p>
    <p><a href="/demo_application/home/">Back to homepage</a></p>
</div>
{% endblock %}
