{%  extends 'base.html.twig' %}

{% block title %}
    <!--author: Robin St-Georges date: 2020-08-06
    Simple demo project realized with the goal to show understanding of PHP, Javascript & co.
    Basic template used to create the page used to create new users-->
    Create a new user
{% endblock %}

{% block body %}
<div class="ml-3 mr-4">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <p class="mt-4">
      <a href="/demo_application/">Back to homepage</a>
    </p>
</div>
{% endblock %}
